### Problem 1

Q1. What are the characteristics of the tuples? Is tuple immutable?

Ans. Tuple items have following characteristics.
1. ordered
2. unchangeable
3. allow duplicate values.

### Problem 2

What are the two tuple methods in python? Give an example of each method. Give a reason why tuples have only two in-built methods as compared to Lists.

Ans. two tuple methode in python 
1. index()
2. count()

- tuple has above two methods only because tuple is immutable.

In [1]:
t = (1,2,3,4,5,6,1,2,5,4,8,2,5,1,5,4,78,52,2,1,4,2)

In [2]:
t.count(1)  # count methode will total count the number 1 present in tuple

4

In [3]:
t.index(8)  # index methode will return the index value of the element we provided in to function.

10

### Problem 3
Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove 
duplicates from the given list.


List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

Ans. Set data type do not allow the duplicate items.

In [4]:
# here is the example.

lst = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]  # there are multiple element getting repeated in tuple.

In [5]:
x = set(lst)  # by converting list into set. it will remove duplocate element.

In [6]:
x

{1, 2, 3, 4}

### Problem 4

Explain the difference between the union() and update() methods for a set. Give an example of 
each method.

#### Union method

1. union() method returns a new set with distinct elements from all the sets.
2. not in place methode.

In [7]:
a = {2, 3, 5}
b = {1, 3, 5}

a.union(b)

{1, 2, 3, 5}

In [8]:
a   # here we can see there is no changes in original a set a

{2, 3, 5}

In [9]:
b  # here we can see there is no changes in original a set b

{1, 3, 5}

#### update methode

1. update() method updates the set on which this method is called with all the distinct elements present.
2. in place method

In [10]:
a = {2, 3, 5}
b = {1, 3, 5}

a.update(b)

In [11]:
a     # here we can see that a has been changed...so its in place method

{1, 2, 3, 5}

In [12]:
b

{1, 3, 5}

In [13]:
b.update(a)

In [14]:
b

{1, 2, 3, 5}

### Problem 5

What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered

Ans. Dictionary is pair of key and value in curley bracket. yes, dictionary is ordered.

In [15]:
# here is the example of dictionary

d = {"a":1,
     "b":[1,2,3,4,5,6],
     "c":5.6,
     "d":True,
     5:"five",
     "e":{1:2,5:8,9:10}
}

In [16]:
print(d)

{'a': 1, 'b': [1, 2, 3, 4, 5, 6], 'c': 5.6, 'd': True, 5: 'five', 'e': {1: 2, 5: 8, 9: 10}}

### Problem 6

Can we create a nested dictionary? If so, please give an example by creating a simple one-level 
nested dictionary.

Ans. yes, we can create nested dictionary. its dictionary inside the dictionary.

In [17]:
# example of nested dictionary

d = {"a":1,
     "b":{"course":"python","country":"india","key":45}
}

### Problem 7

Using setdefault() method, create key named topics in the given dictionary and also add the value of 
the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']


dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [18]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [19]:
dict1.setdefault("Topics",["Python","Machine learning","Deep learning"])

['Python', 'Machine learning', 'Deep learning']

In [20]:
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'Topics': ['Python', 'Machine learning', 'Deep learning']}

### Problem 8

What are the three view objects in dictionaries? Use the three in-built methods in python to display these three view objects for the given dictionary.


dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

Ans. Three view objects are given below.

1. keys()
2. values()
3. items()

In [21]:
# given dictionary

dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [22]:
dict1.keys()   ## it will return all the key form dictionary

dict_keys(['Sport', 'Teams'])

In [23]:
dict1.values()   # it will return all the values from dictionary

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [24]:
dict1.items()    # it will return key, value pair tuple from dictionary.

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])