Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

MongoDB : 

It is an open-source document-oriented database that is designed to store a large scale of data and also allows us to work with that data very efficiently. It is categorized under the NoSQL (Not only SQL) database because the storage and retrieval of data in the MongoDB are not in the form of tables.

Non-relational databases : 

It is often called NoSQL databases and are different from traditional relational databases in that they store their data in a non-tabular form. Instead, non-relational databases might be based on data structures like documents. A document can be highly detailed while containing a range of different types of information in different formats. This ability to digest and organize various types of information side by side makes non-relational databases much more flexible than relational databases.

MongoDB is preferred over RDBMS in the following scenarios:

1. Big Data: If you have huge amount of data to be stored in tables, think of MongoDB before RDBMS databases. MongoDB has built-in solution for partitioning and sharding your database.
2. Unstable Schema: Adding a new column in RDBMS is hard whereas MongoDB is schema-less. Adding a new field does not effect old documents and will be very easy.
3. Distributed data Since multiple copies of data are stored across different servers, recovery of data is instant and safe even if there is a hardware failure.

Q2. State and Explain the features of MongoDB.

1. Schema-less Database: A Schema-less database means one collection can hold different types of documents in it. Or in other words, in the MongoDB database, a single collection can hold multiple documents and these documents may consist of the different numbers of fields, content, and size. It is not necessary that the one document is similar to another document like in the relational databases. Due to this cool feature, MongoDB provides great flexibility to databases.

2. Document Oriented: In MongoDB, all the data stored in the documents instead of tables like in RDBMS. In these documents, the data is stored in fields(key-value pair) instead of rows and columns which make the data much more flexible in comparison to RDBMS.

3. Indexing: every field in the documents is indexed with primary and secondary indices this makes easier and takes less time to get or search data from the pool of the data. 

4. Replication: MongoDB provides high availability and redundancy with the help of replication, it creates multiple copies of the data and sends these copies to a different server so that if one server fails, then the data is retrieved from another server.

5. Aggregation: It allows to perform operations on the grouped data and get a single result or computed result. 

6. Scalability: MongoDB provides horizontal scalability with the help of sharding. Sharding means to distribute data on multiple servers, here a large amount of data is partitioned into data chunks using the shard key, and these data chunks are evenly distributed across shards that reside across many physical servers. It will also add new machines to a running database.

7. High Performance: The performance of MongoDB is very high and data persistence as compared to another database due to its features like scalability, indexing, replication, etc.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [1]:
# this is the code to connect MongoDB to python..

import pymongo
client = pymongo.MongoClient("mongodb+srv://Nikshit-Vora:Asdfghjkl115n@cluster0.yl1hrtv.mongodb.net/?retryWrites=true&w=majority")
db = client.test
client

MongoClient(host=['ac-ojdse58-shard-00-00.yl1hrtv.mongodb.net:27017', 'ac-ojdse58-shard-00-01.yl1hrtv.mongodb.net:27017', 'ac-ojdse58-shard-00-02.yl1hrtv.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-4d7r0l-shard-0', tls=True)

In [2]:
db = client["database_1"]   # this is to create database in mongodb

In [3]:
collection_create = db["my_collection_1"]  # this is to create collection..

Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [4]:
# this code is to insert one record in to database

data  = {"course":"python",
        "class":"data science",
         "timing":"flexi"
        }

collection_create.insert_one(data)

In [5]:
# this code is to insert many database into database

data1 = [
    {"name":"a1","address":"b1","id":1},
    {"name":"a2","address":"b2","id":8},
    {"name":"a3","address":"b3","id":7},
    {"name":"a4","address":"b4","id":5},
    {"name":"a5","address":"b5","id":10},
    {"name":"a6","address":"b6","id":9},
    {"name":"a7","address":"b7","id":3},
    {"name":"a8","address":"b8","id":2},
    {"name":"a9","address":"b9","id":6},
    {"name":"a10","address":"b10","id":4}
]

collection_create.insert_many(data1)

In [6]:
# this code is to get one data set from database

collection_create.find_one()

{'_id': ObjectId('63f21eb854b94a1226c8a5a7'),
 'course': 'python',
 'class': 'data science',
 'timing': 'flexi'}

In [7]:
# this code is to get all the document from database 

for i in collection_create.find():
    print(i)

{'_id': ObjectId('63f21eb854b94a1226c8a5a7'), 'course': 'python', 'class': 'data science', 'timing': 'flexi'}
{'_id': ObjectId('63f21eb854b94a1226c8a5a8'), 'name': 'a1', 'address': 'b1', 'id': 1}
{'_id': ObjectId('63f21eb854b94a1226c8a5a9'), 'name': 'a2', 'address': 'b2', 'id': 8}
{'_id': ObjectId('63f21eb854b94a1226c8a5aa'), 'name': 'a3', 'address': 'b3', 'id': 7}
{'_id': ObjectId('63f21eb854b94a1226c8a5ab'), 'name': 'a4', 'address': 'b4', 'id': 5}
{'_id': ObjectId('63f21eb854b94a1226c8a5ac'), 'name': 'a5', 'address': 'b5', 'id': 10}
{'_id': ObjectId('63f21eb854b94a1226c8a5ad'), 'name': 'a6', 'address': 'b6', 'id': 9}
{'_id': ObjectId('63f21eb854b94a1226c8a5ae'), 'name': 'a7', 'address': 'b7', 'id': 3}
{'_id': ObjectId('63f21eb854b94a1226c8a5af'), 'name': 'a8', 'address': 'b8', 'id': 2}
{'_id': ObjectId('63f21eb854b94a1226c8a5b0'), 'name': 'a9', 'address': 'b9', 'id': 6}
{'_id': ObjectId('63f21eb854b94a1226c8a5b1'), 'name': 'a10', 'address': 'b10', 'id': 4}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

The find() method: This method is used for querying data from a MongoDB collection

In [8]:
# code example 
for i in collection_create.find({"name":"a5"}):
    print(i)

{'_id': ObjectId('63f21eb854b94a1226c8a5ac'), 'name': 'a5', 'address': 'b5', 'id': 10}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

sort() : For sorting MongoDB documents, we need to make use of the sort() method. This method will accept a document that has a list of fields and the order for sorting. 

For indicating the sorting order, we have to set the value 1 or -1 with the specific entity based on which the ordering will be set and displayed. One indicates organizing data in ascending order while -1 indicates organizing in descending order.

In [9]:
#  we want to sort this documents based on id...
for i in collection_create.find():
    print(i)

{'_id': ObjectId('63f21eb854b94a1226c8a5a7'), 'course': 'python', 'class': 'data science', 'timing': 'flexi'}
{'_id': ObjectId('63f21eb854b94a1226c8a5a8'), 'name': 'a1', 'address': 'b1', 'id': 1}
{'_id': ObjectId('63f21eb854b94a1226c8a5a9'), 'name': 'a2', 'address': 'b2', 'id': 8}
{'_id': ObjectId('63f21eb854b94a1226c8a5aa'), 'name': 'a3', 'address': 'b3', 'id': 7}
{'_id': ObjectId('63f21eb854b94a1226c8a5ab'), 'name': 'a4', 'address': 'b4', 'id': 5}
{'_id': ObjectId('63f21eb854b94a1226c8a5ac'), 'name': 'a5', 'address': 'b5', 'id': 10}
{'_id': ObjectId('63f21eb854b94a1226c8a5ad'), 'name': 'a6', 'address': 'b6', 'id': 9}
{'_id': ObjectId('63f21eb854b94a1226c8a5ae'), 'name': 'a7', 'address': 'b7', 'id': 3}
{'_id': ObjectId('63f21eb854b94a1226c8a5af'), 'name': 'a8', 'address': 'b8', 'id': 2}
{'_id': ObjectId('63f21eb854b94a1226c8a5b0'), 'name': 'a9', 'address': 'b9', 'id': 6}
{'_id': ObjectId('63f21eb854b94a1226c8a5b1'), 'name': 'a10', 'address': 'b10', 'id': 4}

In [10]:
# here we can see that all the id are in increasing order......

for i in collection_create.find({"id":{"$gte":0}}).sort("id",1):
    print(i)

{'_id': ObjectId('63f21eb854b94a1226c8a5a8'), 'name': 'a1', 'address': 'b1', 'id': 1}
{'_id': ObjectId('63f21eb854b94a1226c8a5af'), 'name': 'a8', 'address': 'b8', 'id': 2}
{'_id': ObjectId('63f21eb854b94a1226c8a5ae'), 'name': 'a7', 'address': 'b7', 'id': 3}
{'_id': ObjectId('63f21eb854b94a1226c8a5b1'), 'name': 'a10', 'address': 'b10', 'id': 4}
{'_id': ObjectId('63f21eb854b94a1226c8a5ab'), 'name': 'a4', 'address': 'b4', 'id': 5}
{'_id': ObjectId('63f21eb854b94a1226c8a5b0'), 'name': 'a9', 'address': 'b9', 'id': 6}
{'_id': ObjectId('63f21eb854b94a1226c8a5aa'), 'name': 'a3', 'address': 'b3', 'id': 7}
{'_id': ObjectId('63f21eb854b94a1226c8a5a9'), 'name': 'a2', 'address': 'b2', 'id': 8}
{'_id': ObjectId('63f21eb854b94a1226c8a5ad'), 'name': 'a6', 'address': 'b6', 'id': 9}
{'_id': ObjectId('63f21eb854b94a1226c8a5ac'), 'name': 'a5', 'address': 'b5', 'id': 10}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

1. delete_one() : To delete one document, we use the delete_one() method.
2. delete_many() : To delete more than one document, use the delete_many() method.
3. drop() : we can delete collection by using the drop() method.

In [11]:
# will delete record where id=1
collection_create.delete_one({'id': 1})

In [12]:
# we can't see the record where id=1
for i in collection_create.find():
    print(i)

{'_id': ObjectId('63f21eb854b94a1226c8a5a7'), 'course': 'python', 'class': 'data science', 'timing': 'flexi'}
{'_id': ObjectId('63f21eb854b94a1226c8a5a9'), 'name': 'a2', 'address': 'b2', 'id': 8}
{'_id': ObjectId('63f21eb854b94a1226c8a5aa'), 'name': 'a3', 'address': 'b3', 'id': 7}
{'_id': ObjectId('63f21eb854b94a1226c8a5ab'), 'name': 'a4', 'address': 'b4', 'id': 5}
{'_id': ObjectId('63f21eb854b94a1226c8a5ac'), 'name': 'a5', 'address': 'b5', 'id': 10}
{'_id': ObjectId('63f21eb854b94a1226c8a5ad'), 'name': 'a6', 'address': 'b6', 'id': 9}
{'_id': ObjectId('63f21eb854b94a1226c8a5ae'), 'name': 'a7', 'address': 'b7', 'id': 3}
{'_id': ObjectId('63f21eb854b94a1226c8a5af'), 'name': 'a8', 'address': 'b8', 'id': 2}
{'_id': ObjectId('63f21eb854b94a1226c8a5b0'), 'name': 'a9', 'address': 'b9', 'id': 6}
{'_id': ObjectId('63f21eb854b94a1226c8a5b1'), 'name': 'a10', 'address': 'b10', 'id': 4}

In [13]:
# will delete record where id=1
collection_create.delete_many({'id': {"$gte":6}})

In [14]:
# we can't see the record where id>=6
for i in collection_create.find():
    print(i)

{'_id': ObjectId('63f21eb854b94a1226c8a5a7'), 'course': 'python', 'class': 'data science', 'timing': 'flexi'}
{'_id': ObjectId('63f21eb854b94a1226c8a5ab'), 'name': 'a4', 'address': 'b4', 'id': 5}
{'_id': ObjectId('63f21eb854b94a1226c8a5ae'), 'name': 'a7', 'address': 'b7', 'id': 3}
{'_id': ObjectId('63f21eb854b94a1226c8a5af'), 'name': 'a8', 'address': 'b8', 'id': 2}
{'_id': ObjectId('63f21eb854b94a1226c8a5b1'), 'name': 'a10', 'address': 'b10', 'id': 4}

In [15]:
collection_create.drop()

In [16]:
# here we can not see any record in database...
for i in collection_create.find():
    print(i)